<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>用户详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css}">
    <link th:href="@{/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}"
          rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/metronic/assets/global/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/metronic/assets/global/plugins/morris/morris.css}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link th:href="@{/metronic/assets/global/css/components-md.min.css}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link th:href="@{/metronic/assets/global/css/plugins-md.min.css}" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link th:href="@{/metronic/assets/layouts/layout3/css/layout.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/layouts/layout3/css/themes/default.min.css}" rel="stylesheet"
          type="text/css"
          id="style_color"/>
    <link th:href="@{/metronic/assets/layouts/layout3/css/custom.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.7.0/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.7.0/themes/default/icon.css}">

    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<input id="customerId" th:type="hidden" th:value="${customerId}">
<input id="channelId" th:type="hidden" th:value="${channelId}">
<body class="page-container-bg-solid page-md">
<div class="page-wrapper">
    <div th:replace="common/header :: header"></div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>用户Profile
                                    <small></small>
                                </h1>
                            </div>
                            <!-- END PAGE TITLE -->
                        </div>
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet light portlet-fit ">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class=" icon-layers font-green"></i>
                                                        <span class="caption-subject font-green bold uppercase">概览</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item" th:each="filed:${customer}" th:text="${filed['lable'] + ':       ' + filed['value']}"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet light portlet-fit ">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class=" icon-layers font-green"></i>
                                                        <span class="caption-subject font-green bold uppercase">事件流</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">



                                                    <div class="mt-element-list">
                                                        <div class="mt-list-container list-simple">
                                                            <ul id="logList">

                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <div th:replace="common/footer :: footer"></div>
</div>
<!-- BEGIN CORE PLUGINS -->


<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <ul id="detailUl" class="list-group">

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script th:src="@{/metronic/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js} "
        type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/js.cookie.min.js}" type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"
        type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"
        type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js}"
        type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/datatables/datatables.min.js}" type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js}"
        type="text/javascript"></script>
<script th:src="@{/tables/dti18n.js}"
        type="text/javascript"></script>
<script type="text/javascript" th:src="@{/jquery-easyui-1.7.0/jquery.easyui.min.js}"></script>
<script>
    var details = {
    }
    $(document).ready(function(){
        $.get('/customer/eventLogList',{customerId:$("#customerId").val(),channelId:$("#channelId").val()},function (data) {
            $.each(data,function (i,val) {
               var tag = '<li id="liid' + i + '" class="mt-list-item"><div style="text-align:right;float: right">' + val.datetime + '</div><div class="list-item-content"><h6 class="uppercase">' + val.event + '</h6></div></li>';
               $("#logList").append(tag);
                details['liid' + i] = val.data;
               $("#liid" + i).click(function () {
                   $("#detailUl").empty();
                   $.each(details[$(this).attr("id")],function (index,v) {
                    var t2 = '<li class="list-group-item">' + v.lable + ':' + v.value + '</li>';
                       $("#detailUl").append(t2);
                   });
                   $('#basic').modal('show');
               });

            });
        },'json');
    });
    
    function showDetail(id) {
        console.log(details[id]);
    }
</script>
</body>

</html>