<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>新增渠道</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css}">
    <link th:href="@{/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}"
          rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/metronic/assets/global/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/metronic/assets/global/plugins/morris/morris.css}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link th:href="@{/metronic/assets/global/css/components-md.min.css}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link th:href="@{/metronic/assets/global/css/plugins-md.min.css}" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link th:href="@{/metronic/assets/layouts/layout3/css/layout.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/layouts/layout3/css/themes/default.min.css}" rel="stylesheet"
          type="text/css"
          id="style_color"/>
    <link th:href="@{/metronic/assets/layouts/layout3/css/custom.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-md">
<div class="page-wrapper">
    <div th:replace="common/header :: header"></div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>系统管理
                                    <small>新增渠道</small>
                                </h1>
                            </div>
                            <!-- END PAGE TITLE -->
                        </div>
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="mt-content-body">
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <!-- BEGIN SAMPLE FORM PORTLET-->
                                            <div class="portlet light ">
                                                <div class="portlet-body form">
                                                    <form role="form" th:method="post"
                                                          th:action="@{/system/saveDashboard}">
                                                        <div class="form-body">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control"
                                                                       id="channelName" name="channelName">
                                                                <label for="channelName">渠道名称</label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control"
                                                                       id="catalog" name="catalog">
                                                                <label for="catalog">catalog</label>
                                                            </div>

                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control"
                                                                       id="schema" name="schema">
                                                                <label for="schema">schema</label>
                                                            </div>

                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control"
                                                                       id="channelDesc" name="channelDesc">
                                                                <label for="channelDesc">渠道描述</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-actions noborder">
                                                            <button type="submit" class="btn blue">保存</button>
                                                            <button type="button" class="btn default">取消</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <div th:replace="common/footer :: footer"></div>
</div>
<!-- BEGIN CORE PLUGINS -->


<script th:src="@{/metronic/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js} "
        type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/js.cookie.min.js}" type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"
        type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"
        type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js}"
        type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/datatables/datatables.min.js}" type="text/javascript"></script>
<script th:src="@{/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js}"
        type="text/javascript"></script>
<script th:src="@{/tables/dti18n.js}"
        type="text/javascript"></script>
<script>
    $(document).ready(function () {

    });

</script>
</body>

</html>